# vim: ft=conf

*.js
*.md
*.min.css
*.html

server/mhep/dev/
server/mhep/templates/
server/mhep/v2/templates/
server/mhep/v2/static/v2/js_generated/
server/mhep/v2/static/v2/css/bootstrap-2.3.2.css
server/mhep/v2/static/v2/css/bootstrap-responsive-2.3.2.css

client/coverage/
client/test/fixtures/private/

docs/_build/

venv/
.mypy_cache/
