# vim: ft=conf

*.js
*.md
*.min.css
*.html

server/macquette/dev/
server/macquette/templates/
server/macquette/templates/
server/macquette/static/js_generated/
server/macquette/static/css/bootstrap-2.3.2.css
server/macquette/static/css/bootstrap-responsive-2.3.2.css

client/coverage/
client/test/fixtures/private/

docs/_build/

venv/
.mypy_cache/
