{% load static i18n %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{% endblock title %}My Home Energy Planner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block css %}
    <link href="{% static 'css/bootstrap-4.3.1/bootstrap.min.css' %}" rel="stylesheet">
    {% endblock %}

  </head>

  <body>

    <div class="container mt-5">

      {% if messages %}
          {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
          {% endfor %}
      {% endif %}

    </div> <!-- /container -->

    {% block content %}
    {% endblock content %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}

        {# Load Sentry first #}
        {% if settings.sentry_url %}
        <script
          src="https://browser.sentry-cdn.com/5.15.0/bundle.min.js"
          integrity="sha384-+ysfQckQvwCB5SppH41IScIz/Iynt2pePnJNMl+D7ZOzDJ+VYhQEuwB0pA60IDM0"
          crossorigin="anonymous"></script>

        <script>Sentry.init({ dsn: "{{ settings.sentry_url }}" });</script>
        {% endif %}

      <!-- Bootstrap JS and its dependencies-->
      <script src="{% static 'js/jquery-3.3.1/jquery-3.3.1.slim.min.js' %}"></script>
      <script src="{% static 'js/popper-1.14.7/popper.min.js' %}"></script>
      <script src="{% static 'js/bootstrap-4.3.1/bootstrap.min.js' %}"></script>

    {% endblock javascript %}
  </body>
</html>

