{% extends "base.html" %}
{% load static %}

{% block title %}Organisations | {% endblock %}

{% block content %}
<style>
    body { background-color: #EEECE5 }
    .width-content { width: max-content; }
</style>

<div id="loading-view" class="mx-auto bg-white p-4 rounded border" style="width:60rem">
    Loading...
</div>

<div id="org-list-view" class="mx-auto bg-white p-4 rounded border d-none" style="width:60rem">
    <h1 class="h2 mb-3">Your Organisations</h1>

    <ul class="mb-4 list-unstyled" id="org-list"></ul>

    {% if request.user.is_staff %}
    <a class="btn btn-primary" href="{% url 'admin:organisations_organisation_add' %}">
        + New Organisation
    </a>
    {% endif %}
</div>

<section id="org-member-view" class="mx-auto bg-white p-4 rounded border d-none" style="width:60rem">
    <div class="d-flex justify-content-between">
        <h1 class="h2" id="org-name"></h1>

        {% if request.user.is_staff %}
        <div>
            <a id="organisation-edit-org" href="" class="btn btn-primary">Edit organisation</a>
        </div>
        {% endif %}
    </div>

    <p><a href="#">Back to organisation list</a></p>

    <h2 class="h4">Members</h2>

    <template id="member-list-template">
        <table id="member-list" class="table width-content">
            <thead>
                <th>User</th>
                <th>Email</th>
                <th>Last active</th>
                <th>Roles</th>
                <th></th>
                <th></th>
            </thead>
            <tbody>
            </tbody>
        </table>
    </template>

    <template id="member-row-template">
        <tr>
            <td class="member-user"></td>
            <td class="member-email"></td>
            <td class="member-last-active"></td>
            <td>
                <span class="member-is-admin" title="Admin">🗝</span>
                <span class="member-is-librarian" title="Librarian">📚</span>
            </td>
            <td>
                <button class="btn btn-sm btn-secondary demote-librarian mb-0" data-user-id="" data-org-id="">Demote librarian</button>
            </td>
            <td>
                <button class="btn btn-sm btn-secondary remove-user mb-0" data-user-id="" data-org-id="">Remove member</button>
            </td>
        </tr>
    </template>

    <div id="member-list-container" class="mb-3"></div>

    <template id="promote-librarian-form-template">
        <form class="d-flex align-items-center">
            <input type="hidden" id="orgid" value="">
            <label for="promote-select" class="width-content mr-2">
                Add a librarian:
            </label>
            <select name="user-id" id="promote-select" class="custom-select width-content mr-1">
                <option value="">-- Select a member --</option>
            </select>
            <input class="btn btn-primary" type="submit" value="Add">
        </form>
    </template>

    <div id="promote-librarian-form-container" class="mb-3"></div>

    <template id="add-member-form-template">
        <form class="d-flex align-items-center">
            <input type="hidden" id="orgid" value="">
            <label for="user-select" class="width-content mr-2">
                Add a member:
            </label>
            <select name="user-id" id="user-select" class="custom-select width-content mr-1">
                <option value="">-- Select a user --</option>
            </select>
            <input class="btn btn-primary" type="submit" value="Add">
        </form>
    </template>

    <div id="add-member-form-container"></div>
</section>

<script src="{% static 'js/organisations/organisations.js' %}"></script>
<script>
const urlRoot = "{% url 'organisations-api:list' %}";
const currentUser = '{{ user.username|default:"anonymous" }}';
const adminUrl = "{% url 'admin:organisations_organisation_change' 12345 %}";

main();
</script>
{% endblock %}
