{% extends VERSION|add:"/mhep_base.html" %}
{% load static i18n %}

{% block extra_head %}
    <script src="{% static VERSION|add:'/js/macquette.js' %}"></script>
    <script src="{% static VERSION|add:'/js/api.js' %}"></script>
    <script src="{% static VERSION|add:'/js/misc.js' %}"></script>
    <script src="{% static VERSION|add:'/js/graphics.js' %}"></script>
    <script src="{% static VERSION|add:'/js/extended-library-items.js' %}"></script>
    <script src="{% static VERSION|add:'/js/library-helper.js' %}"></script>
    <script src="{% static VERSION|add:'/js/vendor/jquery-ui-1.12.1.min.js' %}"></script>
    <script src="{% static VERSION|add:'/js/vendor/nunjucks-3.2.0.min.js' %}"></script>
    <script src="{% static VERSION|add:'/js/vendor/papaparse-5.0.2.min.js' %}"></script>
    <script src="{% static VERSION|add:'/js/openfuvc.js' %}"></script>
    <script src="{% static VERSION|add:'/js/openfuvc-ui-helper.js' %}"></script>
    <script src="{% static VERSION|add:'/js/questionnaire.js' %}"></script>
    <script src="{% static VERSION|add:'/js/comparison.js' %}"></script>
    <script src="{% static VERSION|add:'/js_generated/exports-v2.js' %}"></script>
    <script>
        const datasets = window.Macquette.datasets
        const calc = {
            run: window.Macquette.calcRun
        }
        const VERSION = "{{ VERSION }}";
    </script>

    <link rel="stylesheet" href="{% static VERSION|add:'/css/jquery-ui-1.12.1.min.css' %}">
    <link rel="stylesheet" href="{% static VERSION|add:'/css/openfuvc.css' %}">
{% endblock %}

{% block extra_nav %}
    <span id="saving_status" class="mr-7"></span>
    <a id="undo">
        <svg style="width: 1rem; height: 1rem">
            <use xlink:href="#iconset-undo" />
        </svg>
    </a>
    <a id="redo">
        <svg style="width: 1rem; height: 1rem; transform: scaleX(-1);">
            <use xlink:href="#iconset-undo" />
        </svg>
    </a>
{% endblock %}

{% block content %}
    <div id="macquette-container"></div>
    <script>
        function initHandler() {
            const featureFlags = [
                {% for feature in features %}'{{ feature }}',{% endfor %}
            ]

            const api = new DjangoAPI(urlHelper);
            initOpenFUVCHelper(api);
            initMacquette(api, {{ locked_javascript }}, {{ assessment.id }}, featureFlags);
        }

        if (document.readyState === 'loading') {
            document.addEventListener('DOMContentLoaded', initHandler)
        } else {
            initHandler()
        }
    </script>
{% endblock %}
