:root {
    --app-color: #ff2712;;
}

html, body {
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color:#EEECE5;
    padding:0px;
    margin:0px;
}

h1 {
    color: var(--app-color);
}

h3 {
    color: var(--app-color);
    font-size:20px;
    line-height: 22px;
}

hr {
    background: var(--app-color);
    border: 0; height: 1px;
    margin:0px;
}

a {
    text-decoration: none;
    color:#000;
}

a:hover {
    text-decoration: none;
    color: var(--app-color);
}

#sidebar {
    margin-top:0px;
    margin-left: -340px;
    left: 340px;
    width: 290px;
    background: #d6d4ce;
    position: fixed;
    overflow-y: auto;
    z-index: 1000;
}

#wrapper {
    padding:0px;
    margin:0 auto;
    padding-left: 0px;
    max-width:1150px;
}

.block-header {
    background-color:#dbd6ce;
    color:#897A67;
    padding:10px 15px;
    font-weight:bold;
}

.block-header--clickable {
    cursor:pointer;
}

.block-header--clickable:hover {
    background-color:#e2ded7;
}

.side-block {
    background-color:#f7f6f5;
    border-bottom: 1px solid #edeae6;
}

.main-block {
    width:100%;
    height: auto;
    text-align: left;
    background-color:#fff;

    margin-top:10px;
}

.scenario-nav {
    padding:5px 5px 5px 0px;
    font-size:16px;
}

.menu-content {
    display: none;
}

.menu-content.active {
    display: block;
}

.side-section {
    padding-bottom: 10px;
}

.side-section--header {
    padding: 15px 15px 2px 15px;
    font-size: 0.8rem;
    font-weight:bold;
    color:#777;
    text-transform: uppercase;
}

.side-section ul, .side-section li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-section li button {
    margin: 7px 15px;
}

.side-section li a {
    display: block;
    padding: 5px 15px;
}

.side-section li a:hover {
    background-color:#dbd6ceee;
}

.side-section-item--buttoned a {
    display: ;
}

input[type="checkbox"] {
    padding:0px;
    margin:0px;
}

#bound {
    max-width:1200px;
    height: auto;
    text-align: left;
    background-color:#fff;

    padding:30px;

}


.body-login {
    background-color: #1d8dbc;
}


#gallery i,#gallery input{
    vertical-align:top;
    cursor:pointer;
    margin-left:5px
}

#delete-images{
    float:right;
    margin-right:50px;
}

body .modal {
    /* new custom width */
    width: 1080px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin-left: -540px;
}

.modal-body {
    max-height: 800px;
}

@media (max-width: 767px) {
    body {padding:0};
}

@media (max-width: 450px) {
    .row { padding:10px; }
    .col2 { width:100%; }
    .col1-inner { padding:5px; }
    .col2-inner { padding:5px; }
}

@media (min-width: 450px) and (max-width: 960px) {
    .col2 { width:100%; }
}
@media (min-width: 960px) { }



.librow:hover {
    background-color: #eee;
}

.small-caps {
    color: #555;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: bold;
    margin-bottom: 0.125rem;
}

.table-unstyled, .table-unstyled tr, .table-unstyled td, .table-unstyled th {
  padding: 0;
  margin: 0;
  border: none;
}

.tr-no-top-border td {
    border-top: none;
}

.clickable { cursor: pointer; }


.list-unstyled { margin: 0; padding: 0; list-style: none; }
.list-unstyled li { margin: 0; padding: 0; }

.text-units { font-size: 0.8rem }
.text-bigger { font-size: 1.25rem }

.text-nowrap { white-space: nowrap; }
.text-right { text-align: right !important; }

.text-normal { font-weight: normal; font-style: normal; }
.text-bold { font-weight: bold; }
.text-italic { font-style: italic; }

.text-warning { color: red; }

.bg-lighter { background-color: #ac9d9344; }


.d-i { display: inline; }
.d-flex { display: flex; }
.d-b { display: block; }

.align-items-start { align-items: start; }
.align-items-center { align-items: center; }

.justify-content-between { justify-content: space-between; }
.justify-content-around { justify-content: space-around; }

.mt-0 { margin-top: 0px !important; }
.ml-0 { margin-left: 0px !important; }
.mb-0 { margin-bottom: 0px !important; }
.mr-0 { margin-right: 0px !important; }
.mx-0 { margin-left: 0px !important; margin-right: 0px !important; }
.my-0 { margin-top: 0px !important; margin-bottom: 0px !important; }
.ma-0 { margin: 0px !important; }

.pt-0 { padding-top: 0px !important; }
.pl-0 { padding-left: 0px !important; }
.pb-0 { padding-bottom: 0px !important; }
.pr-0 { padding-right: 0px !important; }
.px-0 { padding-left: 0px !important; padding-right: 0px !important; }
.py-0 { padding-top: 0px !important; padding-bottom: 0px !important; }
.pa-0 { padding: 0px !important; }

.mt-7 { margin-top: 7px !important; }
.ml-7 { margin-left: 7px !important; }
.mb-7 { margin-bottom: 7px !important; }
.mr-7 { margin-right: 7px !important; }
.mx-7 { margin-left: 7px !important; margin-right: 7px !important; }
.my-7 { margin-top: 7px !important; margin-bottom: 7px !important; }
.ma-7 { margin: 7px !important; }

.pt-7 { padding-top: 7px !important; }
.pl-7 { padding-left: 7px !important; }
.pb-7 { padding-bottom: 7px !important; }
.pr-7 { padding-right: 7px !important; }
.px-7 { padding-left: 7px !important; padding-right: 7px !important; }
.py-7 { padding-top: 7px !important; padding-bottom: 7px !important; }
.pa-7 { padding: 7px !important; }

.mt-15 { margin-top: 15px !important; }
.ml-15 { margin-left: 15px !important; }
.mb-15 { margin-bottom: 15px !important; }
.mr-15 { margin-right: 15px !important; }
.mx-15 { margin-left: 15px !important; margin-right: 15px !important; }
.my-15 { margin-top: 15px !important; margin-bottom: 15px !important; }
.ma-15 { margin: 15px !important; }

.pt-15 { padding-top: 15px !important; }
.pl-15 { padding-left: 15px !important; }
.pb-15 { padding-bottom: 15px !important; }
.pr-15 { padding-right: 15px !important; }
.px-15 { padding-left: 15px !important; padding-right: 15px !important; }
.py-15 { padding-top: 15px !important; padding-bottom: 15px !important; }
.pa-15 { padding: 15px !important; }

.mb-45 {
    margin-bottom: 45px;
}


.line-top {
    border-top: 1px solid #ff2712;
    padding-top: 0.5rem;
}
.line-bottom {
    border-bottom: 1px solid #ff2712;
    padding-bottom: 0.5rem;
}
.line-both {
    border-top: 1px solid #ff2712;
    border-bottom: 1px solid #ff2712;
    padding: 0.5rem 0;
}
.big-checkbox {
    width: 1.2rem !important;
    height: 1.2rem !important;
}

.bg-red { background-color: #ff2712; }
.bg-pale-green { background-color: #beeebe; }
.bg-pale-blue { background-color: #ddeeff; }
.bg-golden { background-color: #e6c577; }

.fg-white { color: #fff; }

.btn--icon {
    display: inline-flex;
}

.btn--icon svg {
    align-self: center;
    margin-right: 0.25rem;
    height: 0.9rem;
}



.house { width: 100%; max-width: 500px; font-size: 36px; }
.house--light { fill: #ac9d93 }
.house--dark { fill: rgba(99, 86, 71, 0.6); }
.house--darker { fill: rgba(99, 86, 71, 0.8) }

.targetbar {
  margin-bottom: 1rem;
  font-size: 12px;
}

.targetbar-head {
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  padding-bottom: 0.25rem;
  color: rgba(99,86,71,0.8);
}

.organisation-member {
  padding: 8px 4px;
  border-bottom: 1px solid #ccc;
}

.member-name {
  font-weight: bold;
  display: block;
}

.member-last-active {
  color: #777;
}

button.demote-role {
  cursor: pointer;
  margin-left: 0.5rem;
}
