adjusttext
argon2-cffi
argon2-cffi-bindings
asgiref
auth0-python
boto3
botocore
brotli
certifi
cffi
charset-normalizer
collectfast
contourpy
coreapi
# coreschema
cryptography
cssselect2
cycler
defusedxml
django
django-anymail[mailgun]
django-cors-headers
django-crispy-forms
django-environ
django-model-utils
django-storages[boto3]
django-waffle
djangorestframework
ecdsa
fonttools[woff]
gunicorn
html5lib
idna
itypes
jinja2
jmespath
kiwisolver
markupsafe
matplotlib
numpy
oauthlib
packaging
pillow
psycopg2-binary
pyasn1
pycparser
pydantic
pydyf
pyjwt[crypto]
pyparsing
pyphen
python-dateutil
python-jose
python3-openid
pytz
requests
requests-oauthlib
returns
rsa
s3transfer
sentry-sdk
six
social-auth-app-django
social-auth-core
sqlparse
ssm-parameter-store
tinycss2
typing-extensions
uritemplate
urllib3
weasyprint
webencodings
whitenoise[brotli]
zopfli
