:root {
    --app-color: #ff2712;

    --gray: #e1e1e1;

    --brown-0: #897a67;
    --brown-1: #ccc7b4;
    --brown-2: rgba(215, 210, 201, 0.9);
    --brown-3: #eeece5;
    --brown-4: rgb(242, 242, 242);

    --beige-000: #635647;
    --beige-200: #82786c;
    --beige-400: #a19a91;
    --beige-500: #b1aba3;
    --beige-700: #d0ccc8;
    --beige-800: #e0ddda;
    --beige-900: #eeece5;

    --blue-5: #c4e3ff;

    --green-5: #92cca6;

    --warning-yellow: #fcf8e3;

    --blue-400: #8cd4ff;
    --blue-700: #dff3ff;

    --sidebar-width: 290px;
}

html,
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Ubuntu',
        'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol';
    background-color: #eeece5;
    padding: 0px;
    margin: 0px;
}

h1,
h2,
h3 {
    color: var(--app-color);
}

h3 {
    font-size: 20px;
    line-height: 22px;
}

h2 {
    font-size: 25px;
    line-height: 22px;
    margin-bottom: 25px;
}

h3 {
    font-size: 20px;
    line-height: 22px;
}

hr {
    background: var(--app-color);
    border: 0;
    height: 1px;
    margin: 0px;
}

a {
    color: #1f75cb;
    text-decoration: underline;
}
a.btn {
    text-decoration: none;
}

a:hover {
    color: var(--app-color);
}

#editor__main {
    background: white;
    max-width: 1150px;
    margin-left: var(--sidebar-width);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
    padding: 30px;
}

input[type='checkbox'] {
    padding: 0px;
    margin: 0px;
}

body .modal {
    /* new custom width */
    width: 1080px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin-left: -540px;
}

.modal-body {
    max-height: 65vh;
}

@media (max-width: 767px) {
    body {
        padding: 0;
    }
}

@media (max-width: 450px) {
    .row {
        padding: 10px;
    }
    .col2 {
        width: 100%;
    }
    .col1-inner {
        padding: 5px;
    }
    .col2-inner {
        padding: 5px;
    }
}

@media (min-width: 450px) and (max-width: 960px) {
    .col2 {
        width: 100%;
    }
}
@media (min-width: 960px) {
}

.librow:hover {
    background-color: #eee;
}

.text-muted {
    color: #6a6a6a;
}

.text-callout {
    max-width: 50em;
    padding: 15px;
    border: 2px solid #9d9d9d;
}

.text-callout p:last-child {
    margin-bottom: 0;
}

.small-caps {
    color: #555;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: bold;
    margin-bottom: 0.125rem;
}

.table-unstyled,
.table-unstyled tr,
.table-unstyled td,
.table-unstyled th {
    padding: 0;
    margin: 0;
    border: none;
}

.tr-no-top-border td {
    border-top: none;
}

.table--vertical-middle tr,
.table--vertical-middle td {
    vertical-align: middle;
}

.clickable {
    cursor: pointer;
}
.clickable-hover:hover {
    background-color: var(--beige-900);
}

.list-unstyled {
    margin: 0;
    padding: 0;
    list-style: none;
}
.list-unstyled li {
    margin: 0;
    padding: 0;
}

.text-units {
    font-size: 0.8rem;
}
.text-bigger {
    font-size: 1.25rem;
}

.text-nowrap {
    white-space: nowrap;
}
.text-right {
    text-align: right !important;
}
.text-center {
    text-align: center !important;
}
.text-left {
    text-align: left !important;
}

.text-normal {
    font-weight: normal !important;
    font-style: normal !important;
}
.text-bold {
    font-weight: bold;
}
.text-italic {
    font-style: italic;
}

.text-warning {
    color: red;
}

.text-tabular-nums {
    font-variant-numeric: tabular-nums;
}

.d-i {
    display: inline;
}
.d-ib {
    display: inline-block;
}
.d-flex {
    display: flex;
}
.d-iflex {
    display: inline-flex;
}
.d-b {
    display: block;
}

.flex-wrap {
    flex-wrap: wrap;
}

.align-right {
    text-align: right !important;
}
.align-items-start {
    align-items: start !important;
}
.align-items-center {
    align-items: center !important;
}

.justify-content-between {
    justify-content: space-between;
}
.justify-content-around {
    justify-content: space-around;
}

.mt-0 {
    margin-top: 0px !important;
}
.ml-0 {
    margin-left: 0px !important;
}
.mb-0 {
    margin-bottom: 0px !important;
}
.mr-0 {
    margin-right: 0px !important;
}
.mx-0 {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.my-0 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.ma-0 {
    margin: 0px !important;
}

.pt-0 {
    padding-top: 0px !important;
}
.pl-0 {
    padding-left: 0px !important;
}
.pb-0 {
    padding-bottom: 0px !important;
}
.pr-0 {
    padding-right: 0px !important;
}
.px-0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.py-0 {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.pa-0 {
    padding: 0px !important;
}

.mt-3 {
    margin-top: 3.5px !important;
}
.ml-3 {
    margin-left: 3.5px !important;
}
.mb-3 {
    margin-bottom: 3.5px !important;
}
.mr-3 {
    margin-right: 3.5px !important;
}
.mx-3 {
    margin-left: 3.5px !important;
    margin-right: 3.5px !important;
}
.my-3 {
    margin-top: 3.5px !important;
    margin-bottom: 3.5px !important;
}
.ma-3 {
    margin: 3.5px !important;
}

.pt-3 {
    padding-top: 3.5px !important;
}
.pl-3 {
    padding-left: 3.5px !important;
}
.pb-3 {
    padding-bottom: 3.5px !important;
}
.pr-3 {
    padding-right: 3.5px !important;
}
.px-3 {
    padding-left: 3.5px !important;
    padding-right: 3.5px !important;
}
.py-3 {
    padding-top: 3.5px !important;
    padding-bottom: 3.5px !important;
}
.pa-3 {
    padding: 3.5px !important;
}

.mt-7 {
    margin-top: 7px !important;
}
.ml-7 {
    margin-left: 7px !important;
}
.mb-7 {
    margin-bottom: 7px !important;
}
.mr-7 {
    margin-right: 7px !important;
}
.mx-7 {
    margin-left: 7px !important;
    margin-right: 7px !important;
}
.my-7 {
    margin-top: 7px !important;
    margin-bottom: 7px !important;
}
.ma-7 {
    margin: 7px !important;
}

.pt-7 {
    padding-top: 7px !important;
}
.pl-7 {
    padding-left: 7px !important;
}
.pb-7 {
    padding-bottom: 7px !important;
}
.pr-7 {
    padding-right: 7px !important;
}
.px-7 {
    padding-left: 7px !important;
    padding-right: 7px !important;
}
.py-7 {
    padding-top: 7px !important;
    padding-bottom: 7px !important;
}
.pa-7 {
    padding: 7px !important;
}

.mt-15 {
    margin-top: 15px !important;
}
.ml-15 {
    margin-left: 15px !important;
}
.mb-15 {
    margin-bottom: 15px !important;
}
.mr-15 {
    margin-right: 15px !important;
}
.mx-15 {
    margin-left: 15px !important;
    margin-right: 15px !important;
}
.my-15 {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}
.ma-15 {
    margin: 15px !important;
}
.pt-15 {
    padding-top: 15px !important;
}
.pl-15 {
    padding-left: 15px !important;
}
.pb-15 {
    padding-bottom: 15px !important;
}
.pr-15 {
    padding-right: 15px !important;
}
.px-15 {
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.py-15 {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}
.pa-15 {
    padding: 15px !important;
}

.mt-30 {
    margin-top: 30px !important;
}
.ml-30 {
    margin-left: 30px !important;
}
.mb-30 {
    margin-bottom: 30px !important;
}
.mr-30 {
    margin-right: 30px !important;
}
.mx-30 {
    margin-left: 30px !important;
    margin-right: 30px !important;
}
.my-30 {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}
.ma-30 {
    margin: 30px !important;
}

.pt-30 {
    padding-top: 30px !important;
}
.pl-30 {
    padding-left: 30px !important;
}
.pb-30 {
    padding-bottom: 30px !important;
}
.pr-30 {
    padding-right: 30px !important;
}
.px-30 {
    padding-left: 30px !important;
    padding-right: 30px !important;
}
.py-30 {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}
.pa-30 {
    padding: 30px !important;
}

.mb-45 {
    margin-bottom: 45px;
}

.line-top {
    border-top: 1px solid #ff2712;
    padding-top: 0.5rem;
}
.line-bottom {
    border-bottom: 1px solid #ff2712;
    padding-bottom: 0.5rem;
}
.line-both {
    border-top: 1px solid #ff2712;
    border-bottom: 1px solid #ff2712;
    padding: 0.5rem 0;
}
.big-checkbox {
    width: 1.2rem !important;
    height: 1.2rem !important;
}

.bg-white {
    background-color: white;
}
.bg-lighter {
    background-color: #ac9d9344;
}
.bg-red {
    background-color: #ff2712;
}
.bg-pale-green {
    background-color: #beeebe;
}
.bg-pale-blue {
    background-color: #ddeeff;
}
.bg-golden {
    background-color: #e6c577;
}

.fg-white {
    color: #fff;
}

.fill-beige-000 {
    fill: var(--beige-000);
}
.fill-beige-200 {
    fill: var(--beige-200);
}
.fill-beige-400 {
    fill: var(--beige-400);
}
.fill-beige-500 {
    fill: var(--beige-500);
}
.fill-beige-700 {
    fill: var(--beige-700);
}
.fill-beige-800 {
    fill: var(--beige-800);
}
.stroke-beige-000 {
    stroke: var(--beige-000);
}
.stroke-beige-200 {
    stroke: var(--beige-200);
}
.stroke-beige-400 {
    stroke: var(--beige-400);
}
.stroke-beige-500 {
    stroke: var(--beige-500);
}
.stroke-beige-700 {
    stroke: var(--beige-700);
}
.stroke-beige-800 {
    stroke: var(--beige-800);
}

.btn--icon {
    display: inline-flex;
}

.btn--icon svg {
    align-self: center;
    margin-right: 0.25rem;
    height: 0.9rem;
    width: 0.9rem;
}

.house {
    width: 100%;
    max-width: 500px;
    font-size: 36px;
}
.house--light {
    fill: #ac9d93;
}
.house--dark {
    fill: rgba(99, 86, 71, 0.6);
}
.house--darker {
    fill: rgba(99, 86, 71, 0.8);
}

.targetbar {
    margin-bottom: 1rem;
}

.targetbar svg {
    font-size: 12px;
}
.targetbar-head {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.25rem;
    color: rgba(99, 86, 71, 0.8);
}

.member-last-active {
    color: #777;
}

button.demote-role {
    cursor: pointer;
    margin-left: 0.5rem;
}

/*** Sidebar ***/

#editor__sidebar {
    height: calc(100% - 40px);
    width: var(--sidebar-width);
    position: fixed;
    overflow-y: scroll;
    scrollbar-color: var(--beige-400) var(--beige-800);
    background-color: var(--beige-900);
}

#editor__sidebar a,
#editor__sidebar a:hover {
    text-decoration: none;
    color: black;
}

.side-section {
    padding-bottom: 10px !important;
}

.side-section--header {
    padding: 15px 10px 2px 20px;
    font-size: 0.8rem;
    font-weight: bold;
    color: #666;
    text-transform: uppercase;
}

.side-section li a {
    display: block;
    padding: 4px 0 4px 20px;
}

.sidebar-scenario {
    margin: 5px;
    border-radius: 5px;
}

.sidebar-scenario--current {
    background-color: var(--beige-700);
}

.sidebar-link {
    cursor: pointer;
}

.sidebar-link:hover,
.sidebar-link--current {
    background-color: var(--beige-700);
}

.sidebar-link--current:hover {
    background-color: var(--beige-500);
}

.sidebar-scenario--current .sidebar-link:hover,
.sidebar-scenario--current .sidebar-link--current {
    background-color: var(--beige-500);
}

/* DELETE: all .legacy-sidebar styles after new-sidebar fully enabled */
.legacy-sidebar .block-header {
    background-color: #dbd6ce;
    color: #897a67;
    padding: 10px 10px 10px 20px;
    font-weight: bold;
}
.legacy-sidebar .block-header--clickable {
    cursor: pointer;
}
.legacy-sidebar .block-header--clickable:hover {
    background-color: #e2ded7;
}
.legacy-sidebar .side-block {
    border-bottom: 1px solid #edeae6;
}
.legacy-sidebar .scenario-nav {
    padding: 5px 5px 5px 0px;
    font-size: 16px;
}
.legacy-sidebar .menu-content {
    display: none;
}
.legacy-sidebar .menu-content.active {
    display: block;
}
.legacy-sidebar .side-section ul,
.legacy-sidebar .side-section li {
    list-style: none;
    padding: 0;
    margin: 0;
}
.legacy-sidebar .side-section li button {
    margin: 7px 15px;
}
.legacy-sidebar .side-section li a:hover {
    background-color: #dbd6ceee;
}

.addressoptions {
}

.addressoptions-option {
    border: 1px solid var(--beige-700);
    border-bottom: 0;
    display: flex;
    gap: 7px;
    padding: 7px;
    cursor: pointer;
}

.addressoptions-option:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.addressoptions-option:last-child {
    border: 1px solid var(--beige-700);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.addressoptions-option:hover {
    background-color: var(--gray);
}

/* Bootstrap by default has a very low contrast ratio for text here */
.alert-warning {
    color: #735829;
}

/*** Assessment list ***/

.status--for-review {
    background-color: #ffe4bb;
    color: #7d4f08;
}

/*** Gallery ***/

.gallerycard {
    border: 1px solid var(--brown-1);
    background: var(--beige-000);
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    max-width: 800px;
}
.gallerycard--selected .gallerycard-content {
    background-color: var(--blue-700);
}
.gallerycard--selected {
    border-color: var(--blue-400);
}
.gallerycard-image {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    max-height: 300px;
}
.gallerycard-image img {
    object-fit: scale-down;
    max-height: 100%;
    max-width: 100%;
}
.gallerycard-content {
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-direction: column;
    padding: 15px;
    background-color: var(--beige-900);
}
.gallerycard-checkbox {
    /* Override Bootstrap */
    width: 15px !important;
    height: 15px;
}
.gap-7 {
    gap: 7px;
}

.filedropper-dropzone {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    color: white;
}

.filedropper-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.filedropper-label {
    font-size: 1em;
    display: inline-flex;
    align-items: center;
}

/*** Disclosure ***/

summary {
    background-color: #f3f3f3;
    cursor: pointer;
    padding: 7px;
    width: max-content;
    margin-bottom: 7px;
}

/**** FORMS ****/

label input[type='radio'] {
    margin-top: 0;
}

.input--number {
    width: 50px;
}

.input--auto-width {
    width: auto;
}

/**** NAVIGATION ****/

.nav-container {
    position: sticky;
    top: 0;

    width: 100%;
    box-sizing: border-box;
    background-color: var(--brown-4);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 10px 0px;
    z-index: 1000;
}

.nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    height: 40px;
}

.nav-main a {
    display: inline-flex;
    height: 40px;
    align-items: center;
    padding: 0 7px;
    text-decoration: none;
}

.nav-main a:hover {
    background-color: var(--brown-3);
}

.nav-main-heading {
    font-size: 1rem;
    color: var(--brown-0);
}

tr.item {
    vertical-align: top;
}

/*** Spinner ***/

.spinner {
    border: 5px solid var(--brown-2);
    border-top-color: var(--app-color);
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    animation: spin 1s linear infinite;
    display: inline-block;
    vertical-align: middle;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.scenario-locked-warning {
    background-color: var(--warning-yellow);
    padding: 10px;
    border-radius: 8px;
}

svg.bi {
    /* Bootstrap Icon SVG */
    vertical-align: text-top;
}

.cc {
    color: var(--app-color);
    font-weight: bold;
    padding-right: 20px;
}

.title {
    padding: 10px 30px;
    color: #888;
    float: left;
}

.modal-backdrop {
    opacity: 0.3 !important;
}

body .modal {
    /* new custom width */
    width: 560px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin-left: -280px;
}

.card {
    border: 1px solid #e1e1e1;
    padding: 15px;
    margin-bottom: 7px;
}
.rounded-cards > .card:first-child {
}
.rounded-cards > .card:last-child {
    margin-bottom: 0;
}

/**** ARTISANAL DIALOGUE BOXES ****/

/* Based on the CSS at https://www.w3.org/TR/wai-aria-practices-1.1/examples/dialog-modal/dialog.html */

/* Apply to body when there's a dialogue open */
.has_dialog {
    overflow: hidden;
}

.notbootstrap[role='alertdialog'],
.notbootstrap[role='dialog'] {
    box-sizing: border-box;
    border: 1px solid #000;
    background-color: #fff;
    min-height: 100vh;
}

.notbootstrap td {
    padding: inherit;
    line-height: inherit;
    text-align: inherit;
    vertical-align: inherit;
    border-top: inherit;
}

@media screen and (min-width: 640px) {
    .notbootstrap[role='alertdialog'],
    .notbootstrap[role='dialog'] {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 4rem;
        left: 50vw; /* move to the middle of the screen (assumes relative parent is the body/viewport) */
        transform: translateX(-50%); /* move backwards 50% of this element's width */
        min-width: calc(640px - (15px * 2)); /* == breakpoint - left+right margin */
        max-height: calc(100vh - 8rem); /* 4rem top and bottom */
        min-height: auto;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.12), 0 15px 12px rgba(0, 0, 0, 0.22);
        --border-radius: 6px;
        border-radius: var(--border-radius);
    }
}

.dialog-header {
    padding: 15px;
    background-color: #f5f5f5;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.dialog-header select {
    margin-bottom: 0;
    max-width: 30em;
}

.dialog-x {
    border: none;
    background: none;
}

.dialog-x svg {
    fill: #999;
}

.dialog-x:hover svg,
.dialog-x:focus svg {
    fill: #000;
}

.dialog-body {
    padding: 15px;
    overflow-y: auto;
}

.dialog-footer {
    padding: 15px;
    background-color: #f5f5f5;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.dialog-backdrop {
    position: fixed;
    overflow-y: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

@media screen and (min-width: 640px) {
    .dialog-backdrop {
        background: rgba(0, 0, 0, 0.3);
    }
}

/*** Form grid ***/

.form-grid__root {
    display: grid;
    grid-template-columns: minmax(max-content, 120px) max-content;
    grid-auto-rows: minmax(30px, auto);
    grid-gap: 7px 30px;
    margin-bottom: 15px;
}

.form-grid__root input,
.form-grid__root select,
.form-grid__root textarea {
    /* Need to break out of BEM in order to undo Bootstrap margins */
    margin-bottom: 0;
}

/*** FUVC ***/

.floor-u-value-calculator__root {
    margin-bottom: 15px;
}

.combined-method-input__root {
    margin-bottom: 15px;
}

.combined-method-input__table {
    border-top: solid 1px var(--beige-400);
    margin-bottom: 7px;
}

.combined-method-input__heading-row {
    border-bottom: solid 1px var(--beige-400);
}

.combined-method-input__layer-row--stripe {
    background-color: var(--brown-4);
}

.combined-method-input__layer-id-heading-cell,
.combined-method-input__layer-id-cell {
    border-right: solid 1px var(--beige-400);
}

.combined-method-input__layer-id-heading-cell,
.combined-method-input__thickness-heading-cell {
    width: 0;
}

.combined-method-input__bridging-proportion-heading-cell {
    min-width: 150px;
}

.combined-method-input__main-material-heading-cell,
.combined-method-input__bridging-material-heading-cell {
    width: 50%;
}

.floor-insulation-material-selector__root {
    display: flex;
    min-height: 40px;
}

.floor-insulation-material-selector__material-view {
    padding-right: 10px;
}
